:host {
	display: flex;
	flex-direction: column;
}

.template-slot {
	display: flex;
}

::slotted(input[type="radio"]) {
	position: relative;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	cursor: pointer;
}

::slotted(input[type="radio"]):focus::before {
	border-color: $matterhorn;
}

::slotted(input[type="radio"])::before {
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	content: "";
	border-radius: 50%;
	border: 2px solid var(--main-color, #{$main-color});
	background: white;
}

::slotted(input[type="radio"]:checked)::before {
	background: white;
}

::slotted(input[type="radio"]:checked)::after, ::slotted(input[type="radio"].focused)::after {
	content: "";
	position: absolute;
	top: 5px;
	left: 5px;
	width: 6px;
	height: 6px;
	transform: rotate(40deg);
	color: var(--main-color, #{$main-color});
	border: 2px solid;
	border-radius: 50%;
}

::slotted(input[type="radio"]:checked)::after {
	background: var(--main-color, #{$main-color});
}

::slotted(input[type="radio"].focused)::after {
	background: $whisper;
	color: $whisper;
}

::slotted(input.focused)::before {
	border-color: $matterhorn;
}

::slotted(label) {
	cursor: pointer;
	margin: 0 5px;
	align-self: center;
}

::slotted(input[type="radio"]:disabled) {
	cursor: not-allowed;
}

::slotted(input[type="radio"]:disabled) {
	cursor: not-allowed;
}

::slotted(input[type="radio"]:disabled)::before {
	border-color: $grey;
	background-color: $whisper;
}

::slotted(input[type="radio"].error)::before {
	border-color: $error-text-color;
}

::slotted(label.error) {
	color: $error-text-color;
}